.container {
    justify-content: center;

    display: grid;
    flex-direction: column;

    /* flex-direction: row; */

    /* min-height: 40rem; */

    padding: 1rem;
    margin: 1rem;

    /* transform-origin: top center; */
    /* transform: scale(0.95); */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    background: #2f3d2c;
}
