{% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>

<html>
    <body class="bg-[#322c3d]">
        {% block bubbles %}
        <div id="bubbles">
            <div
                class="fixed top-64 w-72 h-72 bg-[#8e3d81] rounded-full animate-blob -z-50"
            ></div>
            <div
                class="fixed bottom-32 right-5 w-72 h-36 bg-[#8e3d81] rounded-full rotate-12 animate-blob animation-delay-1500 -z-50"
            ></div>
        </div>
        {% endblock %}
        <div id="content">{% block content %}{% endblock %}</div>
    </body>

    {% block page-footer %}
    <header class="fixed bottom-0 px-6 py-4">
        <div class="flex-col">
            <a href="../">
                <p class="text-4xl title">JudgeMe</p>
            </a>

            <div class="flex space-x-2">
                <button onclick="location.href = '../about/'">about</button>
            </div>
        </div>
    </header>
    {% endblock %}
</html>
