{% load static tailwind_tags %} {% tailwind_css %}

<!DOCTYPE html>

<head>
    <div class="bg-black">
        <div
            class="w-80 h-min bg-slate-700 p-4 flex flex-col items-center text-white text-center text-xl space-y-2"
        >
            <p class="title">Ur Friends.</p>
            {% if user %} {% if friends %} {% for friend in friends %}
            <div
                class="flex flex-row w-72 h-16 p-2 rounded-lg bg-slate-500 border-0 space-x-2"
            >
                <img
                    src="{{friend.profile_picture}}"
                    class="w-12 h-12 rounded-full"
                />
                <p>{{friend}}</p>
            </div>
            {% endfor %} {% else %}
            <p>You don't have any friends lol</p>
            {% endif %} {% endif %}
            <br />
            <p class="title">Add a friend.</p>
            <!-- <form class="flex flex-col">
                <input class="text-black rounded-lg" name="username" />
                <input class="m-2 btn" type="submit" value="Search" />
            </form> -->
            <form action="/your-name/" method="post">
                {% csrf_token %} {{ form }}
                <input class="m-2 btn" type="submit" value="Search" />
            </form>
            <br />
            <br />
            <button type="submit" class="btn bg-gray-200">Close</button>
        </div>
    </div>
</head>
