{% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>
<html>
<title>Generate</title>
<body class="bg-[#9f8170]">
  <button class="fixed bottom-2 right-2 bg-[white] px-2 py-2 w-20 h-20 rounded-full items-center hover:bg-[black] " type="button" data-modal-toggle="popup-modal">
    <img src="{% static '/icons/darkmode.png' %}" alt="darkmode" class="px-1 py-1 w-15 h-15"></img>
  </button>

  <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
              <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Which mode would you like? Choose wisely!</h3>
                <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-[#f5deb3] focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-[#f5deb3] font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2" onclick="changeMode(false)">
                  Light Mode
                </button>
                <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" onclick="changeMode(true)">Dark Mode</button>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/darkmode.js"></script>


    <!-- BUBBLES -->
    <div
        class="fixed top-50 w-72 h-72 bg-[#ffebcd] rounded-full animate-blob"
    ></div>
    <div
        class="fixed bottom-10 right-20 w-80 h-40 bg-[#ffebcd] rounded-full rotate-12 animate-blob animation-delay-1500"
    ></div>
    <div
        class="fixed top-50 right-10 w-20 h-72 bg-[#ffebcd] rounded-full rotate-12 animate-blob"
    ></div>
    <!--END BUBBLES-->

    <div class="flex items-center justify-center h-screen">
        <div id="container" class="flex space-y-80 w-200 items-center flex-col">
          <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox" class="z-10 w-48 text-white bg-[#3d0c02] hover:bg-[#3d0c02] focus:ring-5 focus:outline-none focus:ring-[#3d0c02] font-medium rounded-lg text-4xl px-4 py-2.5 text-center inline-flex items-center dark:bg-[#3d0c02] dark:hover:bg-[#3d0c02] dark:focus:ring-[#3d0c02]" type="button">Friends <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
          
          <!-- Dropdown menu -->
          <div id="dropdownDefaultCheckbox" class="hidden z-10 w-48 bg-white rounded divide-y divide-[#3d0c02] shadow dark:bg-[#3d0c02] dark:divide-[#3d0c02]">
            <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxButton">
              <li>
                <div class="flex items-center">
                  <input id="checkbox-item-1" type="checkbox" value="" class="w-4 h-4 text-[#9f8170] bg-white rounded border-white focus:ring-[#9f8170] dark:focus:ring-[#9f8170] dark:ring-offset-white focus:ring-2 dark:bg-white dark:border-white">
                  <label for="checkbox-item-1" class="ml-2 text-lg font-medium text-gray-900 dark:text-gray-300">John Smith</label>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <input id="checkbox-item-1" type="checkbox" value="" class="w-4 h-4 text-[#9f8170] bg-white rounded border-white focus:ring-[#9f8170] dark:focus:ring-[#9f8170] dark:ring-offset-white focus:ring-2 dark:bg-white dark:border-white">
                  <label for="checkbox-item-2" class="ml-2 text-lg font-medium text-gray-900 dark:text-gray-300">Jane Doe</label>
                </div>
              </li>
              <li>
            </ul>
          </div>
          <!-- End Dropdown Menu -->
          <button class="bg-[#3d0c02] text-white text-lg font-medium py-2 px-10 rounded-full" onclick="next(dropdownCheckboxButton, dropdownDefaultCheckbox, this)" id="next">
            Next
          </button>
          <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

        </div>
        <script src="../../static/js/generate.js"></script>
    </div>


</body>
<head>
    <style type="text/css">
        .footer1 {
            position: fixed;
            text-align: right;
            bottom: 20px;
            width: 100%;
        }
        .footer2 {
            position: fixed;
            text-align: right;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>
     <!-- Navbar -->
     <header class="fixed bottom-0 px-6 py-4">
        <div class="flex-col">
            <a href="../">
                <p class="text-4xl title">JudgeMe</p>
            </a>

            <div class="flex space-x-2">

            <button onclick="location.href = '../about/'">about</button>
            <!-- <p>terms</p> -->
          </div>
        </div>
    </header>
    <!-- Navbar -->
</html>