<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judge</title>
</head>
<body>
    <div class="container mx-auto px-10">
        <button class="button vs object-center" onclick="list_choices('playlistPlaceholder', '<h3>Choose a Playlist</h3>', 'playlistMessage', 'playlist')">Playlist vs Playlist</button>
        <h3 class="message heading" id="playlistMessage"></h3>
        <h3 class="message heading" id="friendsMessage"></h3>
        <h3 class="message heading" id="friendsPlaylistsMessage"></h3>
        <h3 class="message heading" id="graphsTypesMessage"></h3>
        <button class="button vs">Friend vs Friend</button>
        <script src="../../static/js/script.js"></script>
    </div>
</body>
</html>