
{% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
  </head>

  <!-- BUBBLES -->
  <div
    class="fixed top-32 right-5 w-72 h-36 z-1 bg-emerald-300 rounded-full rotate-12 animate-blob animation-delay-1500"
  ></div>
  <div
    class="fixed z-1 bottom-64 w-72 h-72 bg-emerald-300 rounded-full animate-blob"
  ></div>
  <!--END BUBBLES-->

  <body class="bg-emerald-900 rows-3">
    <div
      class="grid grid-rows gap-4 justify-center mx-auto my-auto w-screen h-screen items-center z-1"
    >
      <!--Title-->
      <div class="relative h-24 w-full z-2">
        <h1 class="text-7xl text-bold z-2 pl-20 pt-20 text-center">
          The Results Are In!
        </h1>
      </div>
      <!--Graph, base from https://flowbite.com/docs/forms/range/-->
      <style>
        .slidecontainer {
          width: 100%;
        }
        
        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 25px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }
        
        .slider:hover {
          opacity: 1;
        }
        
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #04AA6D;
          cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #04AA6D;
          cursor: pointer;
        }
        </style>
      
        <div class="slidecontainer">
        <div id="personalities"
            class="flex flex-row gap-4 justify-center">
            <div id="p-1" class="hidden">Agreeable</div>
            <div id="p-2" class="hidden">Less Agreeable</div>
            <div id="p-3" class="hidden">Open</div>
            <div id="p-4" class="hidden">Less Open</div>
            <div id="p-5" class="hidden">Conscientious</div>
            <div id="p-6" class="hidden">Less Conscientious</div>
            <div id="p-7" class="hidden">Emotionally Stable</div>
            <div id="p-8" class="hidden">Less Emotionally Stable</div>
            <div id="p-9" class="hidden">Extraverted</div>
            <div id="p-10" class="hidden">Introverted</div>
        </div>
            <input type="range" min="0" max="32" value="16" class="slider" id="myRange">
            <p>Music Taste Value: <span id="demo"></span></p>
        </div>

        <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        
        slider.oninput = function() {
            output.innerHTML = this.value;
            console.log(this.value)
            let values = [];

            if(this.value <= 16) { //less
                document.getElementById("p-1").setAttribute('class', 'hidden');
                document.getElementById("p-2").setAttribute('class', 'flex');
                console.log("Done")
            }
            else { //more
                document.getElementById("p-1").setAttribute('class', 'flex');
                document.getElementById("p-2").setAttribute('class', 'hidden');
            }
            if(this.value < 8 || 
            (this.value < 24 && this.value >= 16)) { //less
                document.getElementById("p-5").setAttribute('class', 'hidden');
                document.getElementById("p-6").setAttribute('class', 'flex');
            }
            else { //more
                document.getElementById("p-5").setAttribute('class', 'flex');
                document.getElementById("p-6").setAttribute('class', 'hidden');
            }
            if(this.value < 4 || 
            this.value >=8 && this.value < 12 ||
            this.value >=16 && this.value < 20 ||
            this.value >=24 && this.value < 28) { //less
                document.getElementById("p-3").setAttribute('class', 'hidden');
                document.getElementById("p-4").setAttribute('class', 'flex');
            }
            else { //more
                document.getElementById("p-3").setAttribute('class', 'flex');
                document.getElementById("p-4").setAttribute('class', 'hidden');
            }
            if(this.value < 2 ||
            this.value >=4 && this.value < 6 ||
            this.value >=8 && this.value < 10 ||
            this.value >=12 && this.value < 14 ||
            this.value >=16 && this.value < 18 ||
            this.value >=20 && this.value < 22 ||
            this.value >=24 && this.value < 26 ||
            this.value >=28 && this.value < 30) { //less 
                document.getElementById("p-7").setAttribute('class', 'hidden');
                document.getElementById("p-8").setAttribute('class', 'flex');
            }
            else { //more
                document.getElementById("p-7").setAttribute('class', 'flex');
                document.getElementById("p-8").setAttribute('class', 'hidden');
            }
            if(this.value % 2 == 0) { //less
                document.getElementById("p-9").setAttribute('class', 'hidden');
                document.getElementById("p-10").setAttribute('class', 'flex');
            }
            else { //more
                document.getElementById("p-9").setAttribute('class', 'flex');
                document.getElementById("p-10").setAttribute('class', 'hidden');
            }
            
            
            if (document.getElementById(this.value.toString())) {
                if (this.value == Math.floor(document.getElementById(this.value.toString()).getAttribute('value'))) {
                    document.getElementById(this.value.toString()).setAttribute('class', 'relative w-28 h-28 m-auto rounded-full');
                    values = values.push(this.value.toString());
                } 
            } else {
                for (var i = 0; i < 32; i++) {
                    if (document.getElementById(i.toString())) {
                        document.getElementById(i.toString()).setAttribute('class', 'relative w-28 h-28 m-auto blur rounded-full');
                    }
                }
            }
        }
        </script>
        
      <div class="relative grid grid-cols-2 gap-4">
        {% for friend in friends %}
            <div class="grid grid-cols-1 justify-items-center">
            <img 
                id="{{friend.music_taste}}"
                value={{friend.music_taste}}
                src="{{friend.profile_picture}}"
                class="relative w-28 h-28 m-auto blur rounded-full"
                />
                <figcaption class="items-center">{{ friend.display_name }} <br> Music Taste: {{ friend.music_taste }}</figcaption>
            </div>
        {% endfor %}
      </div>