{% extends 'base.html' %} {% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>
<body class="bg-zinc-900">
    <div class="flex container mx-auto my-auto w-screen h-screen items-center flex-col space-y-2">
        <img class="max-w-md m-4 shadow-white" src="{% static '/icons/music.jpeg' %}"></img>
        <h1 class="text-[#fdbcb4] text-4xl align-middle font-bold p-4">Messy Midnights</h1>
        <div class="flex space-x-[50px] w-100">
            <h1 class="text-[#fdbcb4] grow text-2xl text-bold mt-4 w-80">Friends and Artists</h1>
            <h1 class="text-[#fdbcb4] grow text-2xl text-bold mt-4 w-80">Playlists</h1>
        </div>
        <div class="flex justify-center space-x-12 w-100 flex-row">
            <button class="flex w-80 rounded-lg border-[#fdbcb4] border-2 max-h-20">
                <img class="m-2 rounded-sm w-12 h-12" src="{% static '/icons/musics.png' %}">
                <h1 class="text-[#fdbcb4] grow text-lg text-bold mt-4 w-fit">Song</h1>
            </button>
            <button class="flex w-80 rounded-lg border-[#fdbcb4] border-2 max-h-20">
                <img class="m-2 rounded-sm w-12 h-12" src="{% static '/icons/musics.png' %}">
                <h1 class="text-[#fdbcb4] grow text-lg text-bold mt-4 w-fit">Song</h1>
            </button>
        </div>
    </div>
</body>
{% endblock %}
</html>